!!! 5
html(lang="en")
  head
    script(src="https://www.google.com/jsapi?key=ABQIAAAAV8od13bCB_S6FuQjmkftbhSzYoq5Fcqojl7Sq4DU69WgHXaLERQLyAU5C3cXcanQG9r4smAGKfoJFg")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    title Cherb!
  body!= body