script(type='text/javascript')
  var room = 'cherb';

  function talk() {
    var message = $('#message').attr('value');
    jQuery.ajax({
      type: 'post',
      url: room, 
      data: {message: message}, 
      success: function(data) {
        alert(data);
      }
    });
  }

h1 Cherb!

form(method='post', action='cherb', onsubmit='talk(); return false;')
  input(type='text', name='message', id='message')