script(type='text/javascript')
  var room = '#{room}';
  var name = '#{name}';

  $(document).ready(function() {
    load();
    resetSize();
    $(window).resize(resetSize);
  });

  function scrollToBottom() {
    $("#message_box").attr({ scrollTop: $("#message_box").attr("scrollHeight") });
  }

  function resetSize() {
    var height = $(window).height();
    $("#message_box").css("height", (height - 130) + "px");

    scrollToBottom();
  }

  function humanTime(time) {
    return dateFormat(time, "h:MMTT");
  }

  function talk() {
    var text = $('#text').attr('value');
    $.ajax({
      type: 'post',
      url: '/messages', 
      data: {text: text, name: name, room: room}, 
      success: function(message) {
        add(message);
        scrollToBottom();
        $('#text').attr('value','');
      }
    });
  }

  function load() {
    $.ajax({
      type: 'get',
      url: '/' + room + '/messages.json',
      success: function(messages) {
        for (var i in messages) {
          add(messages[i]);
        }
      }
    });   
  }

  function add(message) {
    var name = "<span class='name'>" + message.name + "</span>";
    var time = "<span class='time'>" + humanTime(messages.date) + "</span>";
    var li = $("<li>" + time + name + message.text + "</li>");
    $("#messages").append(li);
  }
#room
  #message_box
    h1= room
    ul#messages

  form(method='post', action='cherb', onsubmit='talk(); return false;')
    input(type='text', name='text', id='text')