script(type='text/javascript')
  var room = '#{room}';
  var name = '#{name}';
  $(document).ready(function() {
    resetSize();
    $(window).resize(resetSize);
  });

  function scrollToBottom() {
    $("#message_box").attr({ scrollTop: $("#message_box").attr("scrollHeight") });
  }

  function resetSize() {
    var height = $(window).height();
    $("#message_box").css("height", (height - 130) + "px");

    scrollToBottom();
  }

  function talk() {
    var text = $('#text').attr('value');
    $.ajax({
      type: 'post',
      url: '/messages', 
      data: {text: text, name: name, room: room}, 
      success: function(message) {
        var li = $("<li><span class='name'>" + message.name + "</span>" + message.text + "</li>");
        $("#messages").append(li);
        scrollToBottom();
      }
    });
  }

#room
  #message_box
    h1 room
    ul#messages
      - for (var i in messages)
        li
          .time= humanTime(messages[i].date)
          .name= messages[i].name
          = messages[i].text

  form(method='post', action='cherb', onsubmit='talk(); return false;')
    input(type='text', name='text', id='text')