script(type='text/javascript')
  var room = 'cherb';

  function talk() {
    var text = $('#text').attr('value');
    jQuery.ajax({
      type: 'post',
      url: room, 
      data: {text: text}, 
      success: function(data) {
        alert(data);
      }
    });
  }

h1 Cherb!

ul(class='messages')
  - for (var i in messages)
    li= messages[i].text

form(method='post', action='cherb', onsubmit='talk(); return false;')
  input(type='text', name='text', id='text')