script(type='text/javascript')
  var room = 'cherb';

  $(document).ready(function() {
    resetSize();
    $(window).resize(resetSize);
  });

  function scrollToBottom() {
    $("#message_box").attr({ scrollTop: $("#message_box").attr("scrollHeight") });
  }

  function resetSize() {
    var height = $(window).height();
    $("#message_box").css("height", (height - 130) + "px");
    scrollToBottom();
  }

  function talk() {
    var text = $('#text').attr('value');
    $.ajax({
      type: 'post',
      url: room, 
      data: {text: text}, 
      success: function(message) {
        var li = $("<li>" + message.text + "</li>");
        $("#messages").append(li);
        scrollToBottom();
      }
    });
  }

#room
  h1 Cherb!

  #message_box
    ul#messages
      - for (var i in messages)
        li= messages[i].text

  form(method='post', action='cherb', onsubmit='talk(); return false;')
    input(type='text', name='text', id='text')