script(type='text/javascript')
  var room = 'cherb';

  function talk() {
    var text = $('#text').attr('value');
    $.ajax({
      type: 'post',
      url: room, 
      data: {text: text}, 
      success: function(message) {
        var li = $("<li>" + message.text + "</li>");
        $("#messages").append(li);
      }
    });
  }

h1 Cherb!

ul#messages
  - for (var i in messages)
    li= messages[i].text

form(method='post', action='cherb', onsubmit='talk(); return false;')
  input(type='text', name='text', id='text')