#room {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: #D4F2FF;
}

#message_box {
  overflow: scroll;
}

#messages {
  list-style: none;
  background-color: white;
  margin: 0;
  padding: 0 5px;
}

#text {
  margin-top: 10px;
  width: 100%;
}

.name {
  display: inline-block;
  width: 75px;
  font-weight: bold;
  color: #777;
}

.time {
  float: right;
  color: #999;
  font-size: 80%;
  text-transform: lowercase;
}