#room {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: #D4F2FF;
}

#message_box {
  overflow: scroll;
}

#messages {
  list-style: none;
  padding: 0;
  background-color: white;
  padding: 0 5px 5px 5px;
}

#text {
  width: 100%;
}